@border-color-split: rgba(0, 0, 0, 0.06);
@border-color-base: hsv(0, 0, 85%);
@white: #fff;
@black: #000;

@text-color: fade(@black, 85%);
@text-color-secondary: fade(@black, 45%);
@text-color-inverse: @white;


// 暗黑主题
@component-background: #141414;
@ant-prefix: ~'ant';
@prefix-cls: ~'dn';

@border-color-split: #303030;
@border-color-base: #434343;
@text-color: fade(@white, 85%);
@text-color-secondary: fade(@white, 45%);
@text-color-inverse: @white;
@icon-color-hover: fade(@white, 75%);
@heading-color: fade(@white, 85%);